openapi: 3.2.0
info:
  title: Bringg Notes API
  version: '1.0'
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
  description: 'Operations tagged Notes across 2 of this provider''s published API definitions: bringg-delivery-hub-api-openapi.yml, bringg-fleet-partners-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
- url: https://app.bringg.com
  description: Bringg security gateway
- url: https://partner.example.com
  description: Partner-hosted endpoints (replace with your base URL for callbacks)
security:
- OAuth2ClientCredentials: []
tags:
- name: Notes
paths:
  /services/create_note:
    post:
      summary: Create Note
      description: Create a note attached to a waypoint or order.
      tags:
      - Notes
      operationId: createNote
      responses:
        '200':
          description: Note created.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/update_note:
    post:
      summary: Update Note
      description: Update an existing note's text.
      tags:
      - Notes
      operationId: updateNote
      responses:
        '200':
          description: Note updated.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /partner/note-added:
    post:
      summary: Add Note Or POD
      description: Add a note or proof-of-delivery artifact (photo, signature) to an order.
      tags:
      - Notes
      operationId: noteAdded
      responses:
        '200':
          description: Note added.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
x-refined-from:
- bringg-delivery-hub-api-openapi.yml
- bringg-fleet-partners-api-openapi.yml
