openapi: 3.2.0
info:
  title: Bringg Drivers and Shifts Users API
  version: '1.0'
  description: 'Bringg''s Drivers and Shifts REST API covers driver lifecycle (users, roles, login),

    shift management (start/end shift, driver home events, availability), driver

    location updates, QR-code generation, delivery blocks (driver shift slots),

    vehicles, and vehicle profiles. Uses OAuth 2.0 Client Credentials.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Users
paths:
  /services/create_user:
    post:
      summary: Create User
      description: Create a new user (driver, dispatcher, or other role).
      tags:
      - Users
      operationId: createUser
      responses:
        '200':
          description: User created.
  /services/update_user:
    post:
      summary: Update User
      description: Update an existing user.
      tags:
      - Users
      operationId: updateUser
      responses:
        '200':
          description: User updated.
  /services/get_user:
    get:
      summary: Get User
      description: Get a user by id.
      tags:
      - Users
      operationId: getUser
      responses:
        '200':
          description: User returned.
  /services/get_users:
    get:
      summary: Get Users
      description: List all users.
      tags:
      - Users
      operationId: getUsers
      responses:
        '200':
          description: Users returned.
  /services/delete_user:
    delete:
      summary: Delete User
      description: Delete a user.
      tags:
      - Users
      operationId: deleteUser
      responses:
        '200':
          description: User deleted.
  /services/create_user_type:
    post:
      summary: Create User Role
      description: Create a custom user role/type.
      tags:
      - Users
      operationId: createUserType
      responses:
        '200':
          description: Created.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials Grant.
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_user: Create users
            update_user: Update users
            get_user: Read users
            delete_user: Delete users
            start_shift: Start shifts
            end_shift: End shifts
            update_driver_location: Update driver location
            create_delivery_block: Create delivery blocks
            create_vehicle: Create vehicles
