openapi: 3.0.3
info:
  title: Bringg Delivery Hub Administration Floating Inventory API
  version: '1.0'
  description: 'Bringg''s Delivery Hub REST API provides programmatic access to last-mile delivery

    orchestration: orders (tasks), routes (runs), customers, teams, service areas,

    service plans, planned delivery windows (delivery slots), exclusion windows

    (blackouts), parking spots, packages, inventory, recurring orders, vehicles,

    delivery blocks, and analytics reports. All endpoints use OAuth 2.0 Client

    Credentials Grant. Base URLs are region-specific (US2/US3/US4, EU2/EU3) and

    follow the pattern https://{region}-admin-api.bringg.com.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  termsOfService: https://developers.bringg.com/reference/terms-of-service
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Floating Inventory
paths:
  /services/upsert_floating_inventory:
    post:
      summary: Upsert Floating Inventory
      description: Create or update a floating inventory item not associated with a specific order.
      tags:
      - Floating Inventory
      operationId: upsertFloatingInventory
      responses:
        '200':
          description: Upserted.
  /services/soft_delete_floating_inventory:
    post:
      summary: Soft Delete Floating Inventory
      description: Soft delete floating inventory items while retaining DB record.
      tags:
      - Floating Inventory
      operationId: softDeleteFloatingInventory
      responses:
        '200':
          description: Soft deleted.
  /services/mass_delete_floating_inventory:
    post:
      summary: Mass Delete Floating Inventory
      description: Delete multiple floating inventory items in bulk.
      tags:
      - Floating Inventory
      operationId: massDeleteFloatingInventory
      responses:
        '200':
          description: Deleted.
  /services/mass_custody_change_floating_inventory:
    post:
      summary: Mass Custody Change To Vehicle
      description: Move multiple floating inventory items to vehicle custody.
      tags:
      - Floating Inventory
      operationId: massCustodyChangeFloatingInventory
      responses:
        '200':
          description: Custody changed.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
