openapi: 3.2.0
info:
  title: Bringg Drivers API
  version: '1.0'
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
  description: 'Operations tagged Drivers across 3 of this provider''s published API definitions: bringg-delivery-hub-api-openapi.yml, bringg-drivers-shifts-api-openapi.yml, bringg-fleet-partners-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
- url: https://app.bringg.com
  description: Bringg security gateway
- url: https://partner.example.com
  description: Partner-hosted endpoints (replace with your base URL for callbacks)
security:
- OAuth2ClientCredentials: []
tags:
- name: Drivers
paths:
  /services/assign_task:
    post:
      summary: Assign Order To Driver
      description: Assign an order directly to a specific driver.
      tags:
      - Drivers
      operationId: assignTask
      responses:
        '200':
          description: Assigned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/assign_run_driver:
    post:
      summary: Assign Driver To Route
      description: Assign a driver to a route (run) to fulfill its orders.
      tags:
      - Drivers
      operationId: assignRunDriver
      responses:
        '200':
          description: Driver assigned to run.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/unassign_run_driver:
    post:
      summary: Unassign Driver From Route
      description: Remove a driver from a route assignment.
      tags:
      - Drivers
      operationId: unassignRunDriver
      responses:
        '200':
          description: Driver unassigned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/create_blacklisted_customer_user:
    post:
      summary: Create Blacklisted Customer Driver
      description: Block a driver from delivering to a specific customer.
      tags:
      - Drivers
      operationId: createBlacklistedCustomerUser
      responses:
        '200':
          description: Blacklist entry created.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/delete_blacklisted_customer_user:
    delete:
      summary: Delete Blacklisted Customer Driver
      description: Remove a blacklist entry between customer and driver.
      tags:
      - Drivers
      operationId: deleteBlacklistedCustomerUser
      responses:
        '200':
          description: Blacklist removed.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/get_blacklisted_customer_users:
    get:
      summary: Get Blacklisted Customer Drivers
      description: List blacklist entries between drivers and customers.
      tags:
      - Drivers
      operationId: getBlacklistedCustomerUsers
      responses:
        '200':
          description: Blacklist list.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/logoff_user:
    post:
      summary: Logoff Driver
      description: Log a driver out of the Bringg Driver App.
      tags:
      - Drivers
      operationId: logoffUser
      responses:
        '200':
          description: Logged off.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/generate_driver_qr_code:
    post:
      summary: Generate Driver QR Code
      description: Generate an access token and QR code for Driver App login of a specified driver.
      tags:
      - Drivers
      operationId: generateDriverQrCode
      responses:
        '200':
          description: QR code generated.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/generate_pickup_qr_code:
    post:
      summary: Generate Pickup QR Code
      description: Generate a pickup QR code for an order or location.
      tags:
      - Drivers
      operationId: generatePickupQrCode
      responses:
        '200':
          description: QR code generated.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/driver_home_events:
    post:
      summary: Initiate Driver Home Events
      description: Indicate whether a driver is at or has departed their home base.
      tags:
      - Drivers
      operationId: driverHomeEvents
      responses:
        '200':
          description: Event recorded.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/get_realtime_availability:
    get:
      summary: Get Driver Availability
      description: Retrieve real-time driver availability across specified teams.
      tags:
      - Drivers
      operationId: getRealtimeAvailability
      responses:
        '200':
          description: Availability returned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/update_driver_location:
    post:
      summary: Update Driver Location
      description: Push a driver's GPS location for more accurate ETA calculations.
      tags:
      - Drivers
      operationId: updateDriverLocation
      responses:
        '200':
          description: Location updated.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /partner/driver-is-assigned-to-order:
    post:
      summary: Assign Driver
      description: Notify Bringg a partner driver has been assigned to an order.
      tags:
      - Drivers
      operationId: driverIsAssignedToOrder
      responses:
        '200':
          description: Assigned.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
  /partner/update-driver-location:
    post:
      summary: Update Driver Location
      description: Partner pushes driver GPS coordinates to Bringg.
      tags:
      - Drivers
      operationId: partnerUpdateDriverLocation
      responses:
        '200':
          description: Location updated.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
  /partner/driver-location:
    get:
      summary: Driver Location
      description: Retrieve current driver location.
      tags:
      - Drivers
      operationId: getDriverLocation
      responses:
        '200':
          description: Location returned.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
x-refined-from:
- bringg-delivery-hub-api-openapi.yml
- bringg-drivers-shifts-api-openapi.yml
- bringg-fleet-partners-api-openapi.yml
