openapi: 3.2.0
info:
  title: Bringg Vehicles API
  version: '1.0'
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
  description: 'Operations tagged Vehicles across 2 of this provider''s published API definitions: bringg-delivery-hub-api-openapi.yml, bringg-drivers-shifts-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Vehicles
paths:
  /services/assign_run_vehicle:
    post:
      summary: Assign Vehicle To Route
      description: Assign a vehicle to a route instance (run).
      tags:
      - Vehicles
      operationId: assignRunVehicle
      responses:
        '200':
          description: Vehicle assigned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/unassign_run_vehicle:
    post:
      summary: Unassign Vehicle From Route
      description: Remove a vehicle from a route assignment.
      tags:
      - Vehicles
      operationId: unassignRunVehicle
      responses:
        '200':
          description: Vehicle unassigned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/mass_custody_change_floating_inventory:
    post:
      summary: Mass Custody Change To Vehicle
      description: Move multiple floating inventory items to vehicle custody.
      tags:
      - Vehicles
      operationId: massCustodyChangeFloatingInventory
      responses:
        '200':
          description: Custody changed.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/create_vehicle:
    post:
      summary: Create Vehicle
      description: Create a vehicle record.
      tags:
      - Vehicles
      operationId: createVehicle
      responses:
        '200':
          description: Created.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/update_vehicle:
    post:
      summary: Update Vehicle
      description: Update a vehicle.
      tags:
      - Vehicles
      operationId: updateVehicle
      responses:
        '200':
          description: Updated.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/delete_vehicle:
    delete:
      summary: Delete Vehicle
      description: Delete a vehicle.
      tags:
      - Vehicles
      operationId: deleteVehicle
      responses:
        '200':
          description: Deleted.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/get_vehicle_by_id:
    get:
      summary: Get Vehicle
      description: Get a vehicle by id.
      tags:
      - Vehicles
      operationId: getVehicleById
      responses:
        '200':
          description: Returned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/get_all_vehicles:
    get:
      summary: Get All Vehicles
      description: List all vehicles.
      tags:
      - Vehicles
      operationId: getAllVehicles
      responses:
        '200':
          description: Returned.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
x-refined-from:
- bringg-delivery-hub-api-openapi.yml
- bringg-drivers-shifts-api-openapi.yml
