openapi: 3.2.0
info:
  title: Bringg Fleet Partners (Self-Integrated Fleets) Authentication API
  version: '1.0'
  description: 'Bringg''s Fleet Partners API is the integration surface for delivery providers

    and self-integrated fleets connecting to the Bringg Delivery Hub. Partners

    implement webhook endpoints Bringg calls (Delivery Created, Get Quote, Order

    Updated, Order Cancelled, Return Delivery Created, Merchant Registered) and

    expose endpoints for accepting orders, updating order status, posting driver

    locations, adding proof of delivery, and managing tokens / merchant credentials.

    Authentication is OAuth 2.0 plus per-partner shared secrets for webhook

    signature verification.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://app.bringg.com
  description: Bringg security gateway
- url: https://partner.example.com
  description: Partner-hosted endpoints (replace with your base URL for callbacks)
security:
- OAuth2ClientCredentials: []
tags:
- name: Authentication
paths:
  /partner/get-token:
    post:
      summary: Get Token
      description: Exchange partner credentials for an access token used to call Bringg from the partner side.
      tags:
      - Authentication
      operationId: getToken
      responses:
        '200':
          description: Token returned.
  /partner/merchant-credentials:
    get:
      summary: Get Merchant Credentials
      description: Retrieve merchant-specific credentials issued by Bringg to the fleet partner.
      tags:
      - Authentication
      operationId: getMerchantCredentials
      responses:
        '200':
          description: Credentials returned.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials Grant. Webhook callbacks are signed with a shared secret.
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            request_driver: Request driver fulfillment
            cancel_order: Cancel orders
            complete_order: Complete orders
            update_driver_location: Update driver location
