openapi: 3.2.0
info:
  title: Bringg Drivers and Shifts Vehicle Profiles API
  version: '1.0'
  description: 'Bringg''s Drivers and Shifts REST API covers driver lifecycle (users, roles, login),

    shift management (start/end shift, driver home events, availability), driver

    location updates, QR-code generation, delivery blocks (driver shift slots),

    vehicles, and vehicle profiles. Uses OAuth 2.0 Client Credentials.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Vehicle Profiles
paths:
  /services/create_vehicle_type:
    post:
      summary: Create Vehicle Profile
      description: Create a vehicle profile/type definition (capacity, constraints).
      tags:
      - Vehicle Profiles
      operationId: createVehicleType
      responses:
        '200':
          description: Created.
  /services/update_vehicle_type:
    post:
      summary: Update Vehicle Profile
      description: Update a vehicle profile.
      tags:
      - Vehicle Profiles
      operationId: updateVehicleType
      responses:
        '200':
          description: Updated.
  /services/destroy_vehicle_type:
    delete:
      summary: Delete Vehicle Profile
      description: Delete a vehicle profile.
      tags:
      - Vehicle Profiles
      operationId: destroyVehicleType
      responses:
        '200':
          description: Deleted.
  /services/get_vehicle_type:
    get:
      summary: Get Vehicle Profile
      description: Get a vehicle profile by id.
      tags:
      - Vehicle Profiles
      operationId: getVehicleType
      responses:
        '200':
          description: Returned.
  /services/get_vehicle_types:
    get:
      summary: Get Vehicle Profiles
      description: List vehicle profiles.
      tags:
      - Vehicle Profiles
      operationId: getVehicleTypes
      responses:
        '200':
          description: Returned.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials Grant.
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_user: Create users
            update_user: Update users
            get_user: Read users
            delete_user: Delete users
            start_shift: Start shifts
            end_shift: End shifts
            update_driver_location: Update driver location
            create_delivery_block: Create delivery blocks
            create_vehicle: Create vehicles
