openapi: 3.2.0
info:
  title: Bringg Waypoints API
  version: '1.0'
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
  description: 'Operations tagged Waypoints across 2 of this provider''s published API definitions: bringg-delivery-hub-api-openapi.yml, bringg-fleet-partners-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
- url: https://app.bringg.com
  description: Bringg security gateway
- url: https://partner.example.com
  description: Partner-hosted endpoints (replace with your base URL for callbacks)
security:
- OAuth2ClientCredentials: []
tags:
- name: Waypoints
paths:
  /services/checkin:
    post:
      summary: Check-in (Arrived to Destination)
      description: Record driver arrival at an order waypoint.
      tags:
      - Waypoints
      operationId: checkIn
      responses:
        '200':
          description: Check-in recorded.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/checkout:
    post:
      summary: Check-out (Left Destination)
      description: Record driver leaving an order waypoint. Final checkout completes the order.
      tags:
      - Waypoints
      operationId: checkOut
      responses:
        '200':
          description: Check-out recorded.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /services/mass_checkout:
    post:
      summary: Multi-Order Checkout
      description: Trigger checkout for multiple orders sharing a checkout location.
      tags:
      - Waypoints
      operationId: massCheckout
      responses:
        '200':
          description: Bulk checkout accepted.
    servers:
    - url: https://us2-admin-api.bringg.com
      description: US2 region (GCP)
    - url: https://us3-admin-api.bringg.com
      description: US3 region (GCP)
    - url: https://us4-admin-api.bringg.com
      description: US4 region (GCP)
    - url: https://eu2-admin-api.bringg.com
      description: EU2 region (GCP)
    - url: https://eu3-admin-api.bringg.com
      description: EU3 region (GCP)
  /partner/check-in:
    post:
      summary: Check In / Driver Arrived To Location
      description: Partner driver arrived at a waypoint.
      tags:
      - Waypoints
      operationId: partnerCheckIn
      responses:
        '200':
          description: Arrived.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
  /partner/check-out:
    post:
      summary: Check Out / Driver Left Location
      description: Partner driver left a waypoint.
      tags:
      - Waypoints
      operationId: partnerCheckOut
      responses:
        '200':
          description: Departed.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
  /partner/cluster-checkin-checkout:
    post:
      summary: Cluster Check-in / Check-out
      description: Indicate multiple bulk arrival or departure events for clustered orders.
      tags:
      - Waypoints
      operationId: clusterCheckInCheckOut
      responses:
        '200':
          description: Cluster recorded.
    servers:
    - url: https://app.bringg.com
      description: Bringg security gateway
    - url: https://partner.example.com
      description: Partner-hosted endpoints (replace with your base URL for callbacks)
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
x-refined-from:
- bringg-delivery-hub-api-openapi.yml
- bringg-fleet-partners-api-openapi.yml
