openapi: 3.0.3
info:
  title: Bringg Delivery Hub Administration Webhooks API
  version: '1.0'
  description: 'Bringg''s Delivery Hub REST API provides programmatic access to last-mile delivery

    orchestration: orders (tasks), routes (runs), customers, teams, service areas,

    service plans, planned delivery windows (delivery slots), exclusion windows

    (blackouts), parking spots, packages, inventory, recurring orders, vehicles,

    delivery blocks, and analytics reports. All endpoints use OAuth 2.0 Client

    Credentials Grant. Base URLs are region-specific (US2/US3/US4, EU2/EU3) and

    follow the pattern https://{region}-admin-api.bringg.com.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  termsOfService: https://developers.bringg.com/reference/terms-of-service
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Webhooks
paths:
  /services/get_undelivered_webhooks:
    get:
      summary: Generate Undelivered Webhooks Report
      description: Retrieve a report of webhooks Bringg sent without receiving confirmation.
      tags:
      - Webhooks
      operationId: getUndeliveredWebhooks
      responses:
        '200':
          description: Report returned.
  /webhooks/delivery-created:
    post:
      summary: Delivery Created Webhook
      description: Bringg notifies the partner of a new delivery to fulfill.
      tags:
      - Webhooks
      operationId: webhookDeliveryCreated
      responses:
        '200':
          description: Acknowledged.
  /webhooks/get-quote:
    post:
      summary: Get Quote Webhook
      description: Bringg requests a delivery quote (price and ETA) from the partner.
      tags:
      - Webhooks
      operationId: webhookGetQuote
      responses:
        '200':
          description: Quote returned.
  /webhooks/order-updated:
    post:
      summary: Delivery Updated Webhook
      description: Bringg notifies the partner an order has been updated.
      tags:
      - Webhooks
      operationId: webhookOrderUpdated
      responses:
        '200':
          description: Acknowledged.
  /webhooks/order-cancelled:
    post:
      summary: Delivery Cancelled Webhook
      description: Bringg notifies the partner an order has been cancelled.
      tags:
      - Webhooks
      operationId: webhookOrderCancelled
      responses:
        '200':
          description: Acknowledged.
  /webhooks/merchant-registered:
    post:
      summary: Merchant Registered Webhook
      description: Bringg notifies the partner a new merchant has subscribed to the partner's fleet.
      tags:
      - Webhooks
      operationId: webhookMerchantRegistered
      responses:
        '200':
          description: Acknowledged.
  /webhooks/return-delivery-created:
    post:
      summary: Return Delivery Created Webhook
      description: Bringg notifies the partner of a return delivery to pick up.
      tags:
      - Webhooks
      operationId: webhookReturnDeliveryCreated
      responses:
        '200':
          description: Acknowledged.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
