openapi: 3.0.3
info:
  title: Bringg Delivery Hub Administration Users API
  version: '1.0'
  description: 'Bringg''s Delivery Hub REST API provides programmatic access to last-mile delivery

    orchestration: orders (tasks), routes (runs), customers, teams, service areas,

    service plans, planned delivery windows (delivery slots), exclusion windows

    (blackouts), parking spots, packages, inventory, recurring orders, vehicles,

    delivery blocks, and analytics reports. All endpoints use OAuth 2.0 Client

    Credentials Grant. Base URLs are region-specific (US2/US3/US4, EU2/EU3) and

    follow the pattern https://{region}-admin-api.bringg.com.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  termsOfService: https://developers.bringg.com/reference/terms-of-service
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Users
paths:
  /services/create_user:
    post:
      summary: Create User
      description: Create a new user (driver, dispatcher, or other role).
      tags:
      - Users
      operationId: createUser
      responses:
        '200':
          description: User created.
  /services/update_user:
    post:
      summary: Update User
      description: Update an existing user.
      tags:
      - Users
      operationId: updateUser
      responses:
        '200':
          description: User updated.
  /services/get_user:
    get:
      summary: Get User
      description: Get a user by id.
      tags:
      - Users
      operationId: getUser
      responses:
        '200':
          description: User returned.
  /services/get_users:
    get:
      summary: Get Users
      description: List all users.
      tags:
      - Users
      operationId: getUsers
      responses:
        '200':
          description: Users returned.
  /services/delete_user:
    delete:
      summary: Delete User
      description: Delete a user.
      tags:
      - Users
      operationId: deleteUser
      responses:
        '200':
          description: User deleted.
  /services/create_user_type:
    post:
      summary: Create User Role
      description: Create a custom user role/type.
      tags:
      - Users
      operationId: createUserType
      responses:
        '200':
          description: Created.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: 'OAuth 2.0 Client Credentials Grant. Exchange your client_id and client_secret

        for an access token via POST https://admin-api.bringg.com/oauth/token (or the

        regional equivalent), then send Authorization: Bearer <access_token>.

        '
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_task: Create orders
            update_task: Update orders
            get_task: Read orders
            cancel_task: Cancel orders
            assign_task: Assign orders to drivers
            checkin: Driver check-in
            checkout: Driver check-out
            create_customer: Create customers
            update_customer: Update customers
            create_team: Create teams
            create_service_area: Create service areas
            create_service_plan: Create service plans
            get_quotes: Get delivery quotes
