openapi: 3.2.0
info:
  title: Bringg Drivers and Shifts Delivery Blocks API
  version: '1.0'
  description: 'Bringg''s Drivers and Shifts REST API covers driver lifecycle (users, roles, login),

    shift management (start/end shift, driver home events, availability), driver

    location updates, QR-code generation, delivery blocks (driver shift slots),

    vehicles, and vehicle profiles. Uses OAuth 2.0 Client Credentials.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Delivery Blocks
paths:
  /services/create_delivery_block:
    post:
      summary: Create Delivery Block
      description: Create a delivery block (driver shift slot for delivery work).
      tags:
      - Delivery Blocks
      operationId: createDeliveryBlock
      responses:
        '200':
          description: Created.
  /services/update_delivery_block:
    post:
      summary: Update Delivery Block
      description: Update a delivery block.
      tags:
      - Delivery Blocks
      operationId: updateDeliveryBlock
      responses:
        '200':
          description: Updated.
  /services/delete_delivery_block:
    delete:
      summary: Delete Delivery Block
      description: Delete a delivery block.
      tags:
      - Delivery Blocks
      operationId: deleteDeliveryBlock
      responses:
        '200':
          description: Deleted.
  /services/get_delivery_block:
    get:
      summary: Get Delivery Block
      description: Get a delivery block by id.
      tags:
      - Delivery Blocks
      operationId: getDeliveryBlock
      responses:
        '200':
          description: Returned.
  /services/assign_delivery_block:
    post:
      summary: Assign Delivery Block
      description: Assign a driver to a delivery block.
      tags:
      - Delivery Blocks
      operationId: assignDeliveryBlock
      responses:
        '200':
          description: Assigned.
  /services/unassign_delivery_block:
    post:
      summary: Unassign Delivery Block
      description: Unassign a driver from a delivery block.
      tags:
      - Delivery Blocks
      operationId: unassignDeliveryBlock
      responses:
        '200':
          description: Unassigned.
  /services/users_delivery_blocks:
    get:
      summary: Get Delivery Blocks By User
      description: List delivery blocks assigned to specific users.
      tags:
      - Delivery Blocks
      operationId: usersDeliveryBlocks
      responses:
        '200':
          description: Returned.
  /services/team_delivery_blocks:
    get:
      summary: Get Delivery Blocks By Team
      description: List delivery blocks for a team.
      tags:
      - Delivery Blocks
      operationId: teamDeliveryBlocks
      responses:
        '200':
          description: Returned.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials Grant.
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_user: Create users
            update_user: Update users
            get_user: Read users
            delete_user: Delete users
            start_shift: Start shifts
            end_shift: End shifts
            update_driver_location: Update driver location
            create_delivery_block: Create delivery blocks
            create_vehicle: Create vehicles
