openapi: 3.2.0
info:
  title: Bringg Drivers Shifts API
  version: '1.0'
  description: 'Bringg''s Drivers and Shifts REST API covers driver lifecycle (users, roles, login),

    shift management (start/end shift, driver home events, availability), driver

    location updates, QR-code generation, delivery blocks (driver shift slots),

    vehicles, and vehicle profiles. Uses OAuth 2.0 Client Credentials.

    '
  contact:
    name: Bringg Developer Support
    url: https://developers.bringg.com
  license:
    name: Bringg API Terms of Service
    url: https://developers.bringg.com/reference/terms-of-service
servers:
- url: https://us2-admin-api.bringg.com
  description: US2 region (GCP)
- url: https://us3-admin-api.bringg.com
  description: US3 region (GCP)
- url: https://us4-admin-api.bringg.com
  description: US4 region (GCP)
- url: https://eu2-admin-api.bringg.com
  description: EU2 region (GCP)
- url: https://eu3-admin-api.bringg.com
  description: EU3 region (GCP)
security:
- OAuth2ClientCredentials: []
tags:
- name: Shifts
paths:
  /services/start_shift:
    post:
      summary: Start Shift
      description: Start a driver's shift.
      tags:
      - Shifts
      operationId: startShift
      responses:
        '200':
          description: Shift started.
  /services/end_shift:
    post:
      summary: End Shift
      description: End a driver's shift.
      tags:
      - Shifts
      operationId: endShift
      responses:
        '200':
          description: Shift ended.
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      description: OAuth 2.0 Client Credentials Grant.
      flows:
        clientCredentials:
          tokenUrl: https://admin-api.bringg.com/oauth/token
          scopes:
            create_user: Create users
            update_user: Update users
            get_user: Read users
            delete_user: Delete users
            start_shift: Start shifts
            end_shift: End shifts
            update_driver_location: Update driver location
            create_delivery_block: Create delivery blocks
            create_vehicle: Create vehicles
